@model List<CartItemVM>

@{
    decimal total = 0;
}

<div class="offcanvas-body cart-item-holder">
    <ul>
        @foreach (CartItemVM item in Model)
        {
            total += item.SubTotal;
            <li class="cart_product getCartItemCount" data-count="@Model.Count">
                <div>
                    <img src="~/img/@item.Img" class="w-25">
                    <p>@item.Name</p>
                    <p>@item.Count x $@item.Price</p>
                </div>
                @if (!Context.Request.Path.StartsWithSegments("/Account/MyOrders"))
                {
                    <a class="delete-button text-danger delete-from-cart" asp-action="DeleteItem" asp-controller="Cart" asp-route-id="@item.Id"><i class="fas fa-trash fa-fw"></i></a>
                }
            </li>
        }
    </ul>
    <p class="mx-4 fw-bold">Total: $@total</p>
</div>

